body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #E0E1DD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    background-color: #1B263B;
    color: #E0E1DD;
    padding: 50px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

.button-group {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.login-btn {
    background-color: #778DA9;
    color: #0D1B2A;
}

.register-btn {
    background-color: #0D1B2A;
    color: #E0E1DD;
}


.login-container {
    text-align: center;
    background-color: #415A77;
    color: #E0E1DD;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #E0E1DD;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #778DA9;
    color: #0D1B2A;
}
