:root {
    --bg: #E0E1DD;
    --text: #0D1B2A;
    --primary: #1B263B;
    --accent: #778DA9;
    --card: #415A77;
    --light: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 4rem 4rem 4rem 4rem;
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
}



h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-top: 4rem;
    color: var(--primary);
}

section {
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #ccc;
}

label {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

input {
    padding: 1rem;
    width: 90%  ;
    max-width: 400px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    margin-bottom: 1.5rem;
    background-color: var(--light);
}

.result {
    padding: 1rem;
    max-width: 400px;
    background-color: var(--accent);
    color: var(--light);
    border-radius: 8px;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
}

button {
    display: inline-block;
    padding: clamp(0.8rem, 2vw, 1rem) clamp(1.5rem, 3vw, 2rem);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    background-color: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 2rem;
}

.back-btn-wrapper {
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 100;
    margin-bottom: 2rem;
}


.back-btn {
    background-color: var(--bg);
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    width: auto;
    transition: all 0.2s ease;
}

.back-btn:hover {
    background-color: var(--primary);
    color: var(--bg);
}

.button-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.solution {
    background-color: var(--bg);
    padding: 1rem;
    border-radius: 6px;
    border-left: 4px solid var(--primary);
}


@media (max-width: 768px) {
    body {
        padding: 2rem;
    }

    input, .result {
        max-width: 100%;
    }

    button {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
    }
}




@media (max-width: 480px) {
    body {
        padding: 1rem;
    }

    h1 {
        margin-top: 3rem;
    }


    .back-btn {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }

    section {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }

    label {
        font-size: 1rem;
    }

}