body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #E0E1DD;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    margin-top: 1rem;
    text-align: center;
    background-color: #1B263B;
    color: #E0E1DD;
    padding: 20px 50px 50px 50px;
    border-radius: 10px;
    width: 90%;
}

#game-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    background-color: #1B263B;
    justify-content: space-between;
    padding: 30px;
}

.grid-item {
    padding: 20px 0;
    border-color: lightgray;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    background: #1d1d7d;
}


@keyframes selectOnce {
    0% {
        transform: translateY(0);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    100% {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
    }
}


@keyframes correctAnswer {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

@keyframes deselectOnce {
    0% {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
    }
    30% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    100% {
        transform: translateY(0px) translateX(0);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
}


.button-group {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}


button {
    width: 60%;
    background-color: #778DA9;
    color: #0D1B2A;
}
