body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #E0E1DD;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: clamp(14px, 1vw, 18px);
}

.container {
    margin-top: 1rem;
    text-align: center;
    background-color: #1B263B;
    color: #E0E1DD;
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 10px;
    width: 90%;
}

#game-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.grid {
    display: grid;
    gap: 1rem;
    background-color: #1B263B;
    padding: clamp(0.5rem, 2vw, 1rem);
}

.grid-item {
    padding: clamp(0.25rem, 1vw, 0.5rem);
    aspect-ratio: 1 / 1;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: #1d1d7d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}


@media (max-width: 1100px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-size: clamp(0.8rem, 2vw, 1rem);
    }
}


@media (max-width: 480px) {
    .grid-item {
        font-size: clamp(0.75rem, 2.5vw, 1rem);
    }
}


@keyframes selectOnce {
    0% {
        transform: translateY(0);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    100% {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
    }
}

@keyframes correctAnswer {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

@keyframes deselectOnce {
    0% {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
    }
    30% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    100% {
        transform: translateY(0px) translateX(0);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
}

.button-group {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 60%;
    background-color: #778DA9;
    color: #0D1B2A;
}
